---
import { Image } from 'astro:assets';
import dayjs from 'dayjs';
import { getFaviconUrl, type Article } from '../libs/articles';

interface Props {
  article: Article;
  class?: string;
}

const { article, class: className } = Astro.props;

const date = dayjs(article.createdAt).format('YYYY-MM-DD');
const faviconSrc = getFaviconUrl(article.site);
---

<article class={className}>
  <a href={article.url}>
    <h3>{article.title}</h3>
    <div class="info">
      <div class="site">
        <Image
          src={faviconSrc}
          alt={article.site}
          class="site-icon"
          width="16"
          height="16"
        />
        <span>{article.site}</span>
      </div>
      <span>{date}</span>
    </div>
  </a>
</article>

<style>
  article {
    flex-basis: 250px;
    min-height: 120px;
    flex-grow: 1;
  }
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 100%;
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    border-radius: 12px;
  }
  a:hover {
    background: var(--su8ru-accent-hover);
  }
  h3 {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0;
  }
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--border-color);
  }
  .site {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .site-icon {
    border-radius: 4px;
  }
</style>
