---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  work: CollectionEntry<'works'>;
}

const { work } = Astro.props;
const { data } = work;
---

<article>
  <a href={`/works/${work.slug}`}>
    <h3>{data.title}</h3>
    <Image
      class="thumbnail"
      src={data.thumbnail.src}
      alt={data.thumbnail.alt}
      width="640"
      densities={[1, 2, 3]}
    />
    <div class="badges">
      <span class="badge badge-type">{data.type}</span>
      {data.role && <span class="badge badge-role">{data.role}</span>}
    </div>
    <p class="description">{data.description}</p>
    {
      data.pinned && (
        <span class="pinned">
          <svg
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
          >
            <path
              d="M8.702 1.41L8.146.853l.708-.708 6 6-.707.708-.556-.556-4.456 7.13.719.718-.708.708L5 10.707.854 14.854l-.708-.707L4.293 10 .146 5.854l.708-.708.718.72 7.13-4.457z"
              fill="currentColor"
            />
          </svg>
        </span>
      )
    }
  </a>
</article>

<style>
  article {
    flex-basis: 300px;
    flex-grow: 1;
  }
  a,
  a:visited {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-color);
    position: relative;
  }
  h3 {
    font-size: 1.1rem;
    margin-top: 16px;
  }
  .thumbnail {
    width: 100%;
    height: auto;
    order: -1;
    background: var(--border-color);
    transition: transform 0.1s ease-in-out;
  }
  a:hover .thumbnail {
    transform: scale(1.04);
  }
  .badges {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 4px;
  }
  .badge {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    width: fit-content;
    line-height: 1;
    padding: 5px 6px 4px 6px;
    border-radius: 4px;
    color: var(--su8ru-white);
  }
  .badge-type {
    background: var(--su8ru-accent-dark);
  }
  .badge-role {
    background: var(--su8ru-accent2-dark);
  }
  .description {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-top: 8px;
  }
  .pinned {
    position: absolute;
    top: -6px;
    right: -6px;
    color: #fff;
    background: linear-gradient(
      120deg,
      var(--su8ru-accent),
      var(--su8ru-accent2)
    );
    padding: 3px 3px 5px 5px;
    border-radius: 8px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.2));
  }
</style>
