---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  work: CollectionEntry<'works'>;
}

const { work } = Astro.props;
const { data } = work;
---

<article>
  <a href={`/works/${work.slug}`}>
    <h3>{data.title}</h3>
    <Image
      class="thumbnail"
      src={data.thumbnail.src}
      alt={data.thumbnail.alt}
      width="640"
      densities={[1, 2, 3]}
    />
    <p class="description">{data.description}</p>
    {
      data.pinned && (
        <span class="pinned">
          <svg
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
          >
            <path
              d="M8.702 1.41L8.146.853l.708-.708 6 6-.707.708-.556-.556-4.456 7.13.719.718-.708.708L5 10.707.854 14.854l-.708-.707L4.293 10 .146 5.854l.708-.708.718.72 7.13-4.457z"
              fill="currentColor"
            />
          </svg>
        </span>
      )
    }
  </a>
</article>

<style>
  article {
    flex-basis: 300px;
    flex-grow: 1;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    position: relative;
  }
  h3 {
    font-size: 1.1rem;
    margin-top: 16px;
  }
  .thumbnail {
    width: 100%;
    height: auto;
    order: -1;
    background: rgb(var(--text-color-rgb) / 0.1);
    transition: transform 0.1s ease-in-out;
  }
  a:hover .thumbnail {
    transform: scale(1.04);
  }
  .description {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-top: 8px;
  }
  .pinned {
    position: absolute;
    top: -4px;
    right: -7px;
    color: #fff;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.5));
    background: var(--highlight-color);
    padding: 3px 3px 5px 5px;
    border-radius: 8px;
  }
</style>
